@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 
}


ul {
    list-style: none;
}



.menu-category {
    max-width: 350px;
    margin-left: -50px;
    background: #FFF6F2;
    border-radius: 18px;
    padding: 10px 0;
}

.menu-category .tittle-category {
    padding-left: 30px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.menu-category li:last-child .dropdown {
    border-bottom: 0;
}

.menu-category li.active .dropdown {
    color: #000;
}

.menu-category li.active .dropdown .fa-chevron-down {
    transform: rotate(180deg);
}

.sub-menu-item {
    list-style-type: disc;
}

.dropdown {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 45px;
    font-size: 18px;
    border-bottom: 2px solid #2d374d;
    color: #000;
    position: relative;
    transition: all 0.4s ease-out;
}

.dropdown:hover {
    color: #fff;
    background: #E487AF;


}

.dropdown i {
    position: absolute;
    top: 17px;
    left: 16px;
}

.dropdown .fa-chevron-down {
    right: 12px;
    left: auto;
    transition: transform 0.2s ease-in-out;
}

.sub-menu-item {
    display: none;
    background: #FFF6F2;
    ;
    transition: all 2s ease-in-out;
}



.menu-category .active .sub-menu-item {
    display: block;
}

.sub-menu-item a {
    display: block;
    color: #000;
    font-weight: 600;
    padding: 12px 12px 12px 45px;
    transition: all 0.2s ease-out;
    text-decoration: none;
}

.sub-menu-item a:hover {

    color: #E487AF;
}

.row {

    display: flex;

    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.product-detail-container .detail-header .product-name {
    color: #23262f;
    font-size: 27px;
    line-height: 40px;
    font-weight: 500;
    
}



 .product-detail-container .detail-body .button-zone .add-to-cart {
    display: flex;
    width: 100%;
    padding: 8px 10px;
    text-transform: uppercase;
    color: #fff;
    background-color: #f4c522;
    border: 1px solid #f4c522;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
    justify-content: center;
    align-items: center;
}
.product-detail-container .detail-body .button-zone {
    padding: 8px 0;
    line-height: 2;
}
.js-add-to-cart {

    background-color: #E487AF;
}

.contact-cart {
    background-color: #392410 !important;
    color: #fff;
}

.container .row .part-3 {
    background-color: #FFF6F2;
    border-radius: 20px;
}

.card-content-pro{
   
    display: block;
    padding: 30px;

}
.tab-categories .nav-item .active {
    color: #23262f !important;
    background-color: #E487AF;
}