@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-pink: #e487af;
  --color-light-pink: #fff6f2;
  --color-primary: #e487af;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  /* --color-info-light: #dce1eb; */
  --color-dark: #363949;
  --color-light: #d8dbf1;
  /* --color-primary-variant: #111e88; */
  --color-background: #f6f6f9;
  --color-background-li: #d9d9d9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;

  --card-padding: 1.8rem;
  --width-sidebar: 18rem;

  --box-shadow: 0 1rem 2rem var(--color-light);
}

.dark-theme-variables {
  --color-background: #ffffff;
  --color-background-li: #a89dc0;
  --color-white: #202528;
  --color-pink: #202528;
  --color-light-pink: #a3bdcc;
  --color-light: rgb(44 48 78 / 87%);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Poppins, sans-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow: hidden;
  color: var(--color-dark);
}

.container {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
}

a {
  color: var(--color-dark);
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3,
h4 {
  font-size: 0.87rem;
}

h3 {
  font-size: 0.8rem;
}

small {
  font-size: 0.75rem;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: var(--color-info-dark);
}

p {
  color: var(--color-info-dark);
}

b {
  color: var(--color-dark);
}

.primary {
  color: var(--color-pink);
}
.success {
  color: var(--color-success);
}
.danger {
  color: var(--color-danger);
}
.warning {
  color: var(--color-warning);
}

aside {
  overflow-y: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  padding: 15px;
  width: var(--width-sidebar);
  height: 100vh;
  position: fixed;
  background-color: var(--color-light-pink);
  border-left: 10px solid var(--color-light-pink);
  transition: all 400ms ease;
}
aside::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

aside .top {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .logo {
  display: block;
  align-items: center;
}

aside .logo .img-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: pixelated;
}

aside .logo .img-logo {
  width: 6rem;
  height: 4rem;
  margin: auto;
  overflow: hidden;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

aside .close {
  display: none;
  gap: 0, 8rem;
}

/* ===============Sidebar================== */

aside .sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* height: 86vh;
  position: absolute; */
  margin-top: 2rem;
  left: 0;
}

aside h3,
h4 {
  font-weight: 500;
}

aside .sidebar ul {
  left: 0;
}

aside .sidebar .nav-link,
aside .sidebar .sub-btn .title,
aside .sidebar .nav-item .sub-menu a {
  position: relative;
  display: flex;
  gap: 1rem;
  height: 3.7rem;
  align-items: center;
  transition: all 300ms ease;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: var(--color-dark);
}

aside .sidebar .nav-item .sub-menu .menu-item {
  width: 90%;
  margin-left: 10%;
}

aside .sidebar .nav-item .sub-menu .menu-item .checked,
aside .sidebar .nav-item .sub-menu .menu-item.active .unchecked {
  display: none;
}
aside .sidebar .nav-item .sub-menu .menu-item.active .checked {
  display: block;
}

aside .sidebar .nav-item a span,
aside .sidebar .sub-btn .title span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

aside .sidebar .nav-item.active .nav-link {
  background: var(--color-background-li);
  color: var(--color-pink);
  margin-left: 0;
}

aside .sidebar ul .nav-item.active .nav-link a,
aside .sidebar .nav-item.active .nav-link .title,
aside .sidebar .nav-item .sub-menu .menu-item.active a {
  color: var(--color-pink);
}

aside .sidebar .nav-item.active .nav-link::before {
  content: "";
  width: 6px;
  height: 100%;
  border-radius: 10px;
  background: var(--color-pink);
}

aside .sidebar ul .nav-item.active .nav-link a span {
  color: var(--color-pink);
}

aside .sidebar .nav-link:hover,
aside .sidebar .sub-menu .menu-item a:hover {
  color: var(--color-pink);
}

aside .sidebar .nav-link:hover span {
  margin-left: 1rem;
}

aside .sidebar ul .nav-item a .message-count {
  position: absolute;
  top: 12px;
  left: 14px;
  background: var(--color-danger);
  color: var(--color-white);
  padding: 2px 5px;
  font-size: 5px;
  border-radius: var(--border-radius-1);
}
aside .sidebar ul .nav-item.active .nav-link a .message-count {
  background: var(--color-danger);
  color: var(--color-white);
}

aside .sidebar ul .logout {
  margin-top: 40px;
  display: flex;
  gap: 1rem;
  cursor: pointer;
  align-items: center;
}

aside .sidebar .sub-menu {
  position: relative;
  display: none;
}

aside .sidebar .sub-btn .less {
  display: none;
}

/* ============Main======== */
#main {
  display: grid;
  width: calc(100% - var(--width-sidebar));
  margin-left: var(--width-sidebar);
  transition: all 400ms ease;
}

#main-page {
  margin-top: 4.6rem;
  padding: 20px;
  width: 100%;
  overflow-x: auto;
}

#main-page::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

#main-page::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

#main-page:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

#main .top {
  height: 4.6rem;
  width: calc(100% - var(--width-sidebar));
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: 0;
  align-items: center;
  padding: 0 0.8rem;
  background: var(--color-light-pink);
  z-index: 2;
  box-shadow: 0 0.5rem 0.5rem var(--color-light-pink);
  transition: all 400ms ease;
}

#main .top .menu {
  display: inline-block;
  background: transparent;
  cursor: pointer;
  color: var(--color-dark);
  left: 1rem;
}

#main .top .menu #menu-btn,
#main .top .menu #show-menu,
#main .top .menu #shorten-menu {
  display: none;
}

#main .profile-theme {
  display: flex;
  gap: 2rem;
}

#main .profile-theme .theme-toggler {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}

#main .profile-theme .theme-toggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main .profile-theme .theme-toggler span.active {
  background: var(--color-pink);
  color: white;
  border-radius: var(--border-radius-1);
}

#main .top .profile-theme .profile {
  display: flex;
  gap: 1.5rem;
}

/* ============MEDIA RESPONSIVE======== */
@media screen and (max-width: 1310px) {
  :root {
    --width-sidebar: 9rem;
  }
  aside {
    width: var(--width-sidebar);
    padding: 0;
  }

  .show-menu {
    --width-sidebar: 18rem;
  }
  .shorten-menu {
    --width-sidebar: 9rem;
  }

  aside.show-menu {
    width: 18rem;
    padding: 15px;
  }
  aside.shorten-menu {
    width: --width-sidebar;
    padding: 0;
  }

  aside.show-menu .logo h2,
  aside.show-menu .sidebar h3 {
    display: inline;
    transition: all 400ms ease;
  }

  aside.shorten-menu .logo h2,
  aside.shorten-menu .sidebar h3 {
    display: none;
  }

  aside .logo h2,
  aside .sidebar h3 {
    display: none;
  }

  #main .top .menu #show-menu,
  #main.show-menu .top .menu #shorten-menu,
  #main.shorten-menu .top .menu #show-menu {
    display: inline;
  }

  #main.show-menu .top .menu #show-menu {
    display: none;
  }

  #main.shorten-menu .top .menu #shorten-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #main .top .menu #show-menu,
  #main .top .menu #shorten-menu,
  #main.show-menu .top .menu #shorten-menu,
  #main.shorten-menu .top .menu #show-menu {
    display: none;
  }

  #main .top .menu #menu-btn {
    display: inline;
  }

  #main .top .menu #menu-btn {
    display: inline;
  }

  #main {
    width: 100%;
    margin-left: 0;
    flex-direction: column;
  }

  #main .top {
    width: 100%;
  }

  #main-page {
    display: block;
  }

  #main .profile .info {
    display: none;
  }

  aside {
    left: -100%;
    background: var(--color-light-pink);
    width: 18rem;
    height: 100vh;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    padding-right: var(--card-padding);
    transition: all 0.8s ease;
  }

  aside.active {
    left: 0;
    transition: all 0.4s ease;
  }

  aside .logo {
    margin-left: 1rem;
  }

  aside .logo h2 {
    display: inline;
  }

  aside .sidebar ul li h3 {
    display: inline;
  }

  aside .sidebar ul li a {
    width: 100%;
  }

  aside .close {
    top: 20px;
    right: 20px;
    position: absolute;
    display: inline;
    cursor: pointer;
  }
}
.my-profile-page {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fff;
  padding: 0 1.875rem 0.625rem;
  border-radius: 3px;
}

.my-profile-page .profile-title {
  border-bottom: 0.0625rem solid #efefef;
  padding: 1.125rem 0;
}

.my-profile-page .profile-title h1 {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-transform: capitalize;
  color: #333;
}

.my-profile-page .profile-title p {
  margin-top: 0.1875rem;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #555;
}

.my-profile-page .update-profile-box {
  padding-top: 1.875rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.my-profile-page .update-profile-box .profile-form {
  width: 100%;
  padding-right: 3.125rem;
}

.my-profile-page .update-profile-box .profile-form table tr td {
  padding-bottom: 30px;
}

.my-profile-page .update-profile-box .profile-form table tr td:first-child {
  text-align: right;
  width: 25%;
}

.my-profile-page .update-profile-box .profile-form table tr td:last-child {
  box-sizing: border-box;
  padding-left: 20px;
  width: 75%;
}

.my-profile-page .update-profile-box .profile-form .css-input input {
  width: 60%;
  padding: 10px;
  border: 1px solid;
  outline: none;
  border-radius: 3px;
  font-size: 16px;
  color: #141212;
  transition: 0.5s;
}

.my-profile-page .update-profile-box .profile-update-image {
  width: 17.8rem;
}

.my-profile-page .update-profile-box .profile-update-image .profile-image-box {
  border-left: 0.0625rem solid #efefef;
}

.my-profile-page .update-profile-box .profile-update-image .profile-image {
  flex-direction: column;
  width: 10.6931rem;
  margin: 0 auto;
  text-align: center;
}

.my-profile-page
  .update-profile-box
  .profile-update-image
  .profile-image
  .btn-photo
  input[type="file"] {
  visibility: hidden;
}

.my-profile-page
  .update-profile-box
  .profile-update-image
  .profile-image
  .btn-photo
  input[type="file"]::before {
  content: "Choosen a photo";
  display: inline-block;
  border: 1px solid #efefef;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-size: 16px;
  visibility: visible;
  margin-left: 20px;
}

.my-profile-page
  .update-profile-box
  .profile-update-image
  .profile-image
  .preview-photo {
  height: 6.25rem;
  width: 6.25rem;
  margin: 1.25rem 0;
  position: relative;
  margin: 10px auto;
  padding: 2px;
}

.my-profile-page .update-profile-box .profile-update-image .profile-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
  vertical-align: middle;
}

.my-profile-page
  .update-profile-box
  .profile-update-image
  .profile-image
  .text {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.submit {
  background-color: red;
  padding: 0.4rem 0.9rem 0.4rem 0.9rem;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  transition: box-shadow 0.3s ease;
  box-shadow: 1px 1px 3px black;
}

.submit:hover {
  box-shadow: none;
}

/* DASHBOAD */
.name-page-db {
  left: 20px;
  top: 20px;
}

.dashboad-box {
  display: flex;
  position: relative;
  gap: 0.5rem;
  margin-bottom: 10px;
}

.dashboad-box .box-left {
  width: 70%;
}

.dashboad-box .box-left .statistical-db {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.dashboad-box .box-left .statistical-db .item-statistical {
  width: 180px;
  height: 100px;
  border-radius: 5px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 1rem var(--color-light);
  transition: all 300ms ease;
}

.dashboad-box .box-left .statistical-db .item-statistical:hover {
  box-shadow: none;
}

.dashboad-box .box-left .statistical-db .item-statistical .middle {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.dashboad-box .box-left .statistical-db .item-statistical .middle span {
  width: 38px;
  height: 38px;
  font-size: 38px;
}

.dashboad-box .customer {
  color: blue;
}

.dashboad-box .employee {
  color: orange;
}

.dashboad-box .product {
  color: #2ed5d8;
}

.dashboad-box .cate {
  color: #9b00ff;
}

.dashboad-box .box-left .statistical-db h3 {
  font-size: 13px;
  color: #8a8989;
}

.dashboad-box .box-right {
  width: 30%;
}

.dashboad-box .gallery-left {
  width: 40%;
}

.dashboad-box .gallery-left p {
  font-size: 16px;
  font-weight: 600;
  color: #363949;
}

.dashboad-box .gallery-left .bottom-gallery-left {
  margin-top: 20px;
}

.dashboad-box .gallery-left,
.dashboad-box .order-list-box {
  border-radius: 10px;
  box-shadow: 0 0 1rem var(--color-light);
  padding: 10px;
  background-color: #fff;
}
.dashboad-box .order-list-box {
  height: 450px;
  overflow: auto;
}
.dashboad-box .order-list-box::-webkit-scrollbar {
  width: 6px;
}

.dashboad-box .order-list-box::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

.dashboad-box .order-list-box::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.dashboad-box .order-list-box::-webkit-scrollbar-track {
  background-color: #eee;
}

.dashboad-box .gallery-left .cal-gallery,
.dashboad-box .order-list-box .order-list {
  margin-top: 1rem;
  width: 100%;
  border-radius: 0.6rem;
  overflow: auto;
}

.dashboad-box td.text-left,
.dashboad-box .gallery-left td.text-left {
  text-align: left;
}

.dashboad-box .order-list-box {
  width: 60%;
}

.dashboad-box .order-list-box p {
  font-size: 16px;
  font-weight: 600;
  color: #363949;
}

.table-dashboad thead th {
  font-size: 13px;
  color: #000;
  padding: 0.5rem;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #e2ebee;
  text-transform: capitalize;
  font-weight: 600;
}

.table-dashboad thead th:last-child {
  border: none;
}

.table-dashboad thead th:first-child,
.table-dashboad tbody td:first-child {
  text-align: center;
  width: 3.7rem;
}

.table-dashboad tbody tr:nth-child(even) {
  background-color: #0000000b;
}

.table-dashboad tbody tr:hover {
  background-color: #d7f4f7e3 !important;
}

.table-dashboad td {
  border-collapse: collapse;
  padding: 0.6rem;
  text-align: center;
  color: #717171;
}

.chart {
  width: 100%;
  position: relative;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 20px;
}

.chart .chart-month-year {
  display: flex;
  position: relative;
  width: 100%;
  /* height: 500px; */
  justify-content: space-between;
  background-color: #fff;
  /* gap: 2rem; */
}

.chart .chart-month-year .revenue-box {
  display: block;
  width: 100%;
  height: 100%;
}

.chart .chart-month-year .month-chart {
  position: relative;
  width: 100%;
  height: 100%;
}

.chart .chart-month-year .year-chart {
  position: relative;
  width: 30%;
  height: 300px;
}

.box-right .recent-updates {
  margin-bottom: 1rem;
}
.box-right .recent-updates.history {
  position: relative;
}

.box-right .recent-updates h2 {
  margin-bottom: 0.8rem;
  margin-left: 20px;
}

.box-right .recent-updates .top-best-order {
  background: #fff;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: 0 0 1rem var(--color-light);
  transition: all 300ms ease;
}

.box-right .recent-updates .top-best-order:hover,
.box-right .recent-updates .history-shop-dashboad:hover {
  box-shadow: none;
}

.box-right .recent-updates .top-best-order .profile-dasboad {
  display: flex;
  gap: 0.5rem;
}

.box-right .recent-updates .top-best-order .profile-dasboad,
.box-right .recent-updates .history-shop-dashboad .profile-dasboad {
  margin-bottom: 1rem;
}

.box-right .recent-updates .top-best-order .profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-color: #ffe900;
}

.box-right .recent-updates .top-best-order .profile-photo img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: contain;
}

.box-right .recent-updates .top-best-order .profile-photo .ratings-top-num {
  position: absolute;
  top: 22%;
  left: 43%;
  font-weight: 600;
}

.box-right .recent-updates .top-best-order .total-order-price {
  color: red;
  font-size: 13px;
}

small.date-ago {
  color: red;
}

.box-right .recent-updates .history-shop-dashboad {
  background: #fff;
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: 0 0 1rem var(--color-light);
  transition: all 300ms ease;
  margin-top: 10px;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
}

.box-right .recent-updates .history-shop-dashboad .time-history-dashboad {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 12px;
  color: red;
}

.box-right .recent-updates .history-shop-dashboad .time-history-dashboad span {
  font-size: 12px;
}

.box-right .recent-updates .history-shop-dashboad::-webkit-scrollbar {
  width: 10px;
}

.box-right .recent-updates .history-shop-dashboad::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

.box-right
  .recent-updates
  .history-shop-dashboad::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.box-right .recent-updates .history-shop-dashboad::-webkit-scrollbar-track {
  background-color: #eee;
}
.box-right .recent-updates .show-all-history-box {
  position: absolute;
  bottom: 10px;
  left: 40%;
}
.box-right .recent-updates .show-all-history-box button {
  background-color: transparent;
  box-shadow: none;
  color: #6674ff;
}
.box-right .recent-updates .show-all-history-box button:hover {
  border: 1px solid #6674ff;
  color: #ff6262;
}

/* END DASHBOAD */
