.page-box {
  min-width: 1000px;
  width: 100%;
}

.table_box {
  margin-top: 1rem;
  width: 100%;
  height: 500px;
  /* border: 0.15rem solid #657b7f; */
  border-radius: 0.6rem;
  /* background-color: var(--color-background-table); */
  overflow: auto;
}
.table_box::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table_box::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table_box:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.ck-editor__editable[role="textbox"] {
  /* editing area */
  min-height: 200px;
}

.ck-content .image {
  /* block images */
  max-width: 80%;
  margin: 20px auto;
}

#oldThumbnail,
#preview-images {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 10px;
}

#oldThumbnail img,
#preview-images img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  vertical-align: middle;
  margin-bottom: 10px;
}

#image-ads img {
  width: 400px;
  border-radius: 5px;
  vertical-align: middle;
  margin-bottom: 10px;
}

table {
  width: 100%;
}

table,
td {
  border-collapse: collapse;
  padding: 0.6rem;
  text-align: center;
  color: #717171;
}

thead th {
  font-size: 16px;
  color: #000;
  padding: 0.5rem;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #6db0f3fe;
  cursor: pointer;
  text-transform: capitalize;
  border-right: 1px solid black;
  font-weight: 600;
}

thead th:first-child,
tbody td:first-child {
  text-align: center;
  width: 3.7rem;
}

thead th:last-child {
  border: none;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr:hover {
  background-color: #d7f4f7e3 !important;
}
tbody td {
  font-size: 14px;
  border-right: 1px solid black;
}

tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
  border-bottom: 1px solid black;
}

/* //Success Message */
#success {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.message {
  position: fixed;
  width: 400px;
  height: 200px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message p {
  font-size: 16px;
  margin: 0;
  padding-bottom: 10px;
}

.button-success {
  margin-top: 2rem;
  text-align: end;
}

.message button {
  margin: 5px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
}

.message button:hover {
  background-color: #0056b3;
}

/* // ================= All button ============== */
.button {
  gap: 0.9rem;
  justify-content: space-between;
}

button {
  padding: 0.4rem 0.9rem 0.4rem 0.9rem;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  transition: box-shadow 0.3s ease;
  box-shadow: 1px 1px 3px black;
}

button:hover {
  box-shadow: 2px 2px 4px rgba(167 219 225 / 37%);
}

.notDelete {
  opacity: 0.5;
}

.update {
  background-color: #2c86d1fe;
}

.delete {
  background-color: #e92844fe;
}

.submit {
  background-color: #4fb971fe;
  margin-top: 20px;
}

.create {
  background-color: #58e4c8fe;
}
.cancel {
  background-color: #f0c12ffe;
}

.recover {
  background-color: #58e4c8fe;
}
.hide {
  background-color: #ec622efe;
}

.logout-btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #79c9ec;
}
.logout-btn h3 {
  font-size: 0.9rem;
}

.message-confirm-box {
  display: relative;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(204, 204, 204, 0.5);
  text-align: center;
  align-items: center;
  z-index: 999;
}

.message-confirm-box .message-confirm {
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 440px;
  height: 150px;
  font-size: 1rem;
  padding: 30px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-confirm-box .message-confirm .btn-message {
  margin-top: 15px;
  width: 70%;
  display: flex;
  gap: 0.5rem;
}

.select-container {
  display: flex;
  width: 200px;
  position: relative;
  height: 30px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 4px #121212ad;
}

.select-box {
  border: none;
  width: 100%;
  padding: 6px 10px 6px 10px;
  color: #000;
  background-color: #fff;
  font-size: 14px;
}
/* sale coupon */
.add-coupon {
  display: flex;
  gap: 2rem;
}

.box-input input {
  width: 300px;
  padding: 10px;
  border: 1px solid;
  outline: none;
  border-radius: 3px;
  font-size: 16px;
  color: #141212;
  transition: 0.5s;
}

.coupon-input p {
  font-size: 16px;
  font-weight: 500;
  color: #020202;
}

.coupon-input .error {
  color: #f13e02;
  font-size: 12px;
}

.search-product {
  position: relative;
}

#search-result-product {
  display: none;
  padding: 10px;
  margin-top: 10px;
  max-width: 200px;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  z-index: 900;
}

#search-result-product::-webkit-scrollbar {
  width: 10px;
}

#search-result-product::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

#search-result-product::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

#search-result-product::-webkit-scrollbar-track {
  background-color: #eee;
}

#search-result-product .product-name {
  padding: 5px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

#search-result-product .product-name:hover {
  background-color: var(--color-pink);
  border-radius: 8px;
}

#search-result-product .notfound {
  color: red;
  font-size: 14px;
}

/* ads */
.ads-page {
  width: 100%;
}

.ads-page .ads-add {
  border-radius: 10px;
  width: 500px;
  position: relative;
  margin: auto;
  padding: 20px;
}

.ads-page .ads-add .ads-event {
  width: 100%;
  text-align: center;
  color: blue;
  margin-bottom: 20px;
}

.ads-page .ads-add .ads-event button {
  margin-top: 15px;
}

.ads-page .ads-date {
  display: flex;
  gap: 2rem;
}

.ads-page .ads-date input {
  border-radius: 10px;
  padding: 5px;
  gap: 2rem;
  margin-left: 10px;
  box-shadow: 1px 1px 3px black;
}

.ads-page .type-ads-box .type-ads {
  display: flex;
  gap: 1rem;
  margin-left: 10px;
}

label {
  font-size: 1.2rem;
  font-weight: 600;
}

.image-box {
  margin-top: 15px;
  margin-bottom: 15px;
}

.image-box input[type="file"] {
  font-size: 14px;
  border-radius: 50px;
  box-shadow: 1px 1px 3px black;
  width: 200px;
  outline: none;
  margin-left: 10px;
}

.image-box input[type="file"]::-webkit-file-upload-button {
  background-color: #96dcd57a;
  padding: 8px;
  border: none;
  border-radius: 50px;
  outline: none;
}

.image-banner {
  width: 300px;
}

.image-banner img {
  width: 100%;
  vertical-align: middle;
}

.table_ads {
  min-width: 800px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: auto;
  height: 600px;
}

/* PRODUCT */
.filter-product {
  position: relative;
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 50px;
}

.filter-product .filter-product-box {
  display: flex;
  gap: 2rem;
  height: 100%;
}

.products {
  padding-bottom: 30px;
  min-width: 1000px;
}

.table-product {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

.table-product thead th {
  font-size: 13px;
  color: #000;
  padding: 0.5rem;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #e2ebee;
  text-transform: capitalize;
  font-weight: 600;
}

.table-product thead th:last-child {
  border: none;
}

.table-product thead th:first-child,
.table-product tbody td:first-child {
  text-align: center;
  width: 3.7rem;
}

.table-product tbody tr:nth-child(even) {
  background-color: #0000000b;
}

.table-product tbody tr:hover {
  background-color: #d7f4f7e3 !important;
}

.table-product td {
  border-collapse: collapse;
  padding: 0.6rem;
  text-align: center;
  color: #717171;
}

.table_box_product {
  margin-top: 1rem;
  width: 100%;
  max-height: 700px;
  /* border: 0.15rem solid #657b7f; */
  border-radius: 0.6rem;
  /* background-color: var(--color-background-table); */
  overflow: auto;
}

.table_box_product::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table_box_product::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table_box_product:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.filter-option {
  bottom: 0;
}

.filter-range {
  position: relative;
  width: 300px;
  border-radius: 10px;
}

.filter-range .input-range {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.filter-range input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}

.filter-range .slider-track {
  width: 100%;
  height: 4px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 4px;
}

.filter-range input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 4px;
}

.filter-range input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 4px;
}

.filter-range input[type="range"]::-ms-track {
  appearance: none;
  height: 4px;
}

.filter-range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.2em;
  width: 1.2em;
  background-color: #3264fe;
  cursor: pointer;
  margin-top: -5px;
  pointer-events: auto;
  border-radius: 50%;
}

.filter-range input[type="range"]::-moz-range-thumb {
  --webkit-appearance: none;
  height: 1.2em;
  width: 1.2em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #3264fe;
  pointer-events: auto;
}

.filter-range input[type="range"]::-ms-thumb {
  appearance: none;
  height: 1.2em;
  width: 1.2em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #3264fe;
  pointer-events: auto;
}

.filter-range input[type="range"]:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 2px solid #3264fe;
}

.filter-range .values-range {
  background-color: #3264fe;
  width: 90px;
  position: relative;
  margin: auto;
  padding: 4px 0;
  border-radius: 3px;
  text-align: center;
  font-weight: 500;
  font-size: 10px;
  color: #ffffff;
}

.filter-range .values-range:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 8px solid #3264fe;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin: auto;
  bottom: -8px;
  left: 0;
  right: 0;
}

.filter-product-box .select-container {
  top: 30%;
}

.filter-product .form-search-header {
  top: 30%;
  position: relative;
  width: 300px;
}

.filter-product .form-search-header .icon {
  color: #777e90;
  position: absolute;
  top: 9px;
  left: 10px;
  font-size: 16px;
}

.filter-product .form-search-header input {
  border-radius: 20px;
  padding-left: 30px;
}

.filter-product .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.filter-product .form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.example {
  margin: 3rem auto;
  text-align: center;
}

.example > .text {
  display: inline-block;
  position: relative;
  padding: 1rem 3rem;
  transform: translateY(-0.5rem);
  text-transform: uppercase;
  perspective: 10rem;
  cursor: pointer;
}

.example > .text:first-of-type {
  padding-left: 4rem;
}

.example > .text:first-of-type::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(10deg) translateX(calc(2rem - 3px));
  z-index: -1;
  background: #ffffff;
}

.example > .text:last-of-type {
  padding-right: 4rem;
}

.example > .text:last-of-type::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(-10deg) translateX(calc(-1rem - 6px));
  z-index: -1;
  background: #ffffff;
}

.example > .counter {
  display: inline-block;
  position: relative;
  padding: 0.5rem 2rem;
}

.example > .counter > .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #6a558e;
  border-radius: 0.7rem;
}

.example > .counter > .background::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: -1;
  border-radius: 1rem;
  border: solid #ffffff 4px;
  background: #6a558e;
}

.example > .counter > .background::after {
  content: "";
  width: 80%;
  padding-top: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: solid #fff 4px;
  background: #6a558e;
}

.example > .counter > .number {
  position: relative;
  display: inline-block;
  z-index: 1;
  transform: translateY(-2px);
  color: #ffffff;
}

.example > .counter > .number:first-of-type {
  font-size: 2rem;
}

.example > .counter > .number:first-of-type::after {
  content: "/";
  display: inline-block;
  padding: 0 0.2rem;
  font-size: 2.5rem;
}

.example > .counter > .number:last-of-type {
  font-size: 1rem;
  transform: translateY(-0.8rem) translateX(-0.2rem);
}

@media screen and (max-width: 600px) {
  .example > .text {
    display: block;
  }

  .example > .text:first-of-type {
    margin-bottom: 3rem;
  }

  .example > .text:last-of-type {
    margin-top: 4rem;
  }
}
/* END PRODUCT */
