.page-box {
  min-width: 1000px;
  width: 100%;
}

.table_box {
  margin-top: 1rem;
  width: 100%;
  height: 500px;
  /* border: 0.15rem solid #657b7f; */
  border-radius: 0.6rem;
  /* background-color: var(--color-background-table); */
  overflow: auto;
}
.table_box::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table_box::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #0004;
  visibility: hidden;
}

.table_box:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.ck-editor__editable[role="textbox"] {
  /* editing area */
  min-height: 200px;
}

.ck-content .image {
  /* block images */
  max-width: 80%;
  margin: 20px auto;
}

#oldThumbnail,
#preview-images {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 10px;
}

#oldThumbnail img,
#preview-images img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  vertical-align: middle;
  margin-bottom: 10px;
}

#image-ads img {
  width: 400px;
  border-radius: 5px;
  vertical-align: middle;
  margin-bottom: 10px;
}

table {
  width: 100%;
}

table,
td {
  border-collapse: collapse;
  padding: 0.6rem;
  text-align: center;
  color: #717171;
}

thead th {
  font-size: 16px;
  color: #000;
  padding: 0.5rem;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #6db0f3fe;
  cursor: pointer;
  text-transform: capitalize;
  border-right: 1px solid black;
  font-weight: 600;
}

thead th:first-child,
tbody td:first-child {
  text-align: center;
  width: 3.7rem;
}

thead th:last-child {
  border: none;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr:hover {
  background-color: #d7f4f7e3 !important;
}
tbody td {
  font-size: 14px;
  border-right: 1px solid black;
}

tbody tr {
  --delay: 0.1s;
  transition: 0.5s ease-in-out var(--delay), background-color 0s;
  border-bottom: 1px solid black;
}

/* //Success Message */
#success {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.message {
  position: fixed;
  width: 400px;
  height: 200px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message p {
  font-size: 16px;
  margin: 0;
  padding-bottom: 10px;
}

.button-success {
  margin-top: 2rem;
  text-align: end;
}

.message button {
  margin: 5px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
}

.message button:hover {
  background-color: #0056b3;
}

/* // ================= All button ============== */
.button {
  gap: 0.9rem;
  justify-content: space-between;
}

button {
  padding: 0.4rem 0.9rem 0.4rem 0.9rem;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  transition: box-shadow 0.3s ease;
  box-shadow: 1px 1px 3px black;
}

button:hover {
  box-shadow: 2px 2px 4px rgba(167 219 225 / 37%);
}

.notDelete {
  opacity: 0.5;
}

.update {
  background-color: #2c86d1fe;
}

.delete {
  background-color: #e92844fe;
}

.submit {
  background-color: #4fb971fe;
}

.create {
  background-color: #58e4c8fe;
}

.recover {
  background-color: #58e4c8fe;
}
.hide {
  background-color: #ec622efe;
}

.logout-btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #79c9ec;
}
.logout-btn h3 {
  font-size: 0.9rem;
}

.message-confirm-box {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(204, 204, 204, 0.5);
  text-align: center;
  align-items: center;
  z-index: 999;
}

.message-confirm-box .message-confirm {
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 440px;
  height: 150px;
  font-size: 1rem;
  padding: 30px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sale coupon */
.add-coupon {
  display: flex;
  gap: 2rem;
}

.coupon-input .box-input input {
  width: 300px;
  padding: 10px;
  border: 1px solid;
  outline: none;
  border-radius: 3px;
  font-size: 16px;
  color: #141212;
  transition: 0.5s;
}

.coupon-input p {
  font-size: 16px;
  font-weight: 500;
  color: #020202;
}

.coupon-input .error {
  color: #f13e02;
  font-size: 12px;
}

.select-container {
  display: flex;
  width: 200px;
  position: relative;
  height: 30px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 1px 1px 3px black;
}

.select-box {
  border: none;
  width: 100%;
  padding: 6px 10px 6px 10px;
  color: #000;
  background-color: #96dcd57a;
  font-size: 14px;
}

.search-product {
  position: relative;
}

#search-result-product {
  display: none;
  padding: 10px;
  margin-top: 10px;
  max-width: 200px;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  z-index: 900;
}

#search-result-product::-webkit-scrollbar {
  width: 10px;
}

#search-result-product::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

#search-result-product::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

#search-result-product::-webkit-scrollbar-track {
  background-color: #eee;
}

#search-result-product .product-name {
  padding: 5px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

#search-result-product .product-name:hover {
  background-color: var(--color-pink);
  border-radius: 8px;
}

#search-result-product .notfound {
  color: red;
  font-size: 14px;
}

/* ads */
.select-container {
  display: flex;
  width: 200px;
  position: relative;
  height: 30px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 1px 1px 3px black;
}

.select-box {
  border: none;
  width: 100%;
  padding: 6px 10px 6px 10px;
  color: #000;
  background-color: #96dcd57a;
  font-size: 14px;
}

.ads-page {
  width: 100%;
}

.ads-page .ads-add {
  border-radius: 10px;
  width: 500px;
  position: relative;
  margin: auto;
  padding: 20px;
}

.ads-page .ads-add .ads-event {
  width: 100%;
  text-align: center;
  color: blue;
  margin-bottom: 20px;
}

.ads-page .ads-add .ads-event button {
  margin-top: 15px;
}

.ads-page .ads-date {
  display: flex;
  gap: 2rem;
}

.ads-page .ads-date input {
  border-radius: 10px;
  padding: 5px;
  gap: 2rem;
  margin-left: 10px;
  box-shadow: 1px 1px 3px black;
}

.ads-page .type-ads-box .type-ads {
  display: flex;
  gap: 1rem;
  margin-left: 10px;
}

label {
  font-size: 1.2rem;
  font-weight: 600;
}

.image-box {
  margin-top: 15px;
  margin-bottom: 15px;
}

.image-box input[type="file"] {
  font-size: 14px;
  border-radius: 50px;
  box-shadow: 1px 1px 3px black;
  width: 200px;
  outline: none;
  margin-left: 10px;
}

.image-box input[type="file"]::-webkit-file-upload-button {
  background-color: #96dcd57a;
  padding: 8px;
  border: none;
  border-radius: 50px;
  outline: none;
}

.image-banner {
  width: 300px;
}

.image-banner img {
  width: 100%;
  vertical-align: middle;
}

.table_ads {
  width: 800px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: auto;
  height: 600px;
}
